$white: #fff;
$gray_8: #888;
$gray: #666;
$gray_3f: #3f3f3f;
$gray_63: #636363;
$gray_4b: #4b4b4b;
$gray_46: #464646;
$gray_4a: #4a4a4a;
$bg_white_opacity: rgba(255, 255, 255, 0.1);
$gray_40:#404040;
$gray_36: #363636;
$gray_26: #262626;
$gray_f:#f2f5f8;
$gray_eee: #eee;
$green: #21aa58;
$green_00: #00d16f;
$transparent: transparent;