@font-face {
  font-family: "IRANSans";
  src: url("../../rec/font/IRANSans.eot");
  src: url("../../rec/font/?#iefix") format("embedded-opentype"),
    url("../../rec/font/IRANSans.woff2") format("woff2"),
    url("../../rec/font/IRANSans.woff") format("woff"),
    url("../../rec/font/IRANSans.ttf") format("truetype"),
    url("../../rec/font/IRANSans.svg#IRANSans") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSans";
  src: url("../../rec/font/IRANSans_1.eot");
  src: url("../../rec/font/IRANSans_1.eot?#iefix") format("embedded-opentype"),
    url("../../rec/font/IRANSans_1.woff2") format("woff2"),
    url("../../rec/font/IRANSans_1.woff") format("woff"),
    url("../../rec/font/IRANSans_1.ttf") format("truetype"),
    url("../../rec/font/IRANSans_1.svg#IRANSans") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
